{% extends "admin-base.html" %}

{% block title %}Pages{% endblock %}

{% block body %}

  <h1 class="w-100">Admin - Pages</h1>

  <table width="100%">
    <tr>
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
  {% for page in pages %}
    <tr>
      <td width="95%">{{ page.title }}</td>
      <td><a href="/pages/{{page.id}}/edit-page" class="btn btn-primary">Edit</td>
      <td><a href="/pages/{{ page.page_slug }}" class="btn btn-secondary">View</td>
    </tr>
  {% endfor %}
  </table>

  <div class="hp-pager">
    <ul class="pl-0 mt-3">
      {% if (current_page <= total_page_count) and (current_page > 1) %}
      <a href="/pages/index?page={{ previous_link }}">Previous</a>
      {% endif %}
      {% if total_page_count > 1 %}
    {% for pagintation in total_pages %}
      {% if pagintation == current_page %}
      <li class="list-unstyled list-inline-item pt-1 pb-1 pl-2 pr-2 current-page mr-0">
        {% else %}
        <li class="list-unstyled list-inline-item pt-1 pb-1 pl-2 pr-2">
        {% endif %}
      <a href="/pages/index?page={{ pagintation }}" >{{ pagintation }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% if (current_page >= 1) and (current_page < total_page_count) %}
    {% set pagintation = current_page + 10 %}
    <a href="/pages/index?page={{ pagintation }}">Next</a>
    {% endif %}
    </ul>
  </div>

  <a href="/pages/new-page" class="btn btn-primary my-3">Add new</a>

{% endblock %}

{% block footer %}
<h1>Footer</h1>
{% endblock %}
