<div class="toolbar mb-3">
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command="undo"><i class="fas fa-undo"></i></a>
    <a href="javascript:void(0);" data-command="undo"><i class="fas fa-redo"></i></a>
  </div>
  <div class="toolbar-group">
    <div class="fore-wrapper">
      <i class="fa fa-font" style="color:#C96;"></i>
      <div class="fore-palette">
      </div>
    </div>
    <div class="back-wrapper">
      <i class="fas fa-font" style="background:#C96;"></i>
      <div class="back-palette">
      </div>
    </div>
    <a href="javascript:void(0);" data-command="bold" title="Bold"><i class="fas fa-bold"></i></a>
    <a href="javascript:void(0);" data-command="italic" title="Italic"><i class="fas fa-italic"></i></a>
    <a href="javascript:void(0);" data-command="underline" title="Underline"><i class="fas fa-underline"></i></a>
    <a href="javascript:void(0);" data-command="strikethrough" title="strikeThrough"><i class="fas fa-strikethrough"></i></a>
  </div>
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command="justifyLeft" title="Align left"><i class="fas fa-align-left"></i></a>
    <a href="javascript:void(0);" data-command="justifyCenter" title="Align center"><i class="fas fa-align-center"></i></a>
    <a href="javascript:void(0);" data-command="justifyRight" title="Align right"><i class="fas fa-align-right"></i></a>
    <a href="javascript:void(0);" data-command="justifyFull" title="Justify"><i class="fas fa-align-justify"></i></a>
  </div>
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command='insertUnorderedList' title="Unordered list"><i class='fas fa-list-ul'></i></a>
    <a href="javascript:void(0);" data-command='insertorderedList' title="Ordered list"><i class='fas fa-list-ol'></i></a>
  </div>
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command='h1' title="H1"><strong>H1</strong></a>
    <a href="javascript:void(0);" data-command='h2' title="H2"><strong>H2</strong></a>
    <a href="javascript:void(0);" data-command='h3' title="H2"><strong>H3</strong></a>
    <a href="javascript:void(0);" data-command='p' title="Paragraph"><strong>P</strong></a>
  </div>
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command='createlink' title="Create link"><i class='fas fa-link'></i></a>
    <a href="javascript:void(0);" data-command='unlink' title="Unlink"><i class='fas fa-unlink'></i></a>
    <a href="javascript:void(0);" data-command='insertimage' title="Insert image"><i class='far fa-image'></i></a>
  </div>
  <div class="toolbar-group">
    <a href="javascript:void(0);" data-command='subscript' title="Subscript (Make text smaller)"><i class='fas fa-subscript'></i></a>
  </div>
  <div class="clearfix"></div>
</div>
